<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_vehicle.name %>
</p>

<%= link_to 'Edit', edit_type_vehicle_path(@type_vehicle) %> |
<%= link_to 'Back', type_vehicles_path %>
